*{
padding: 0;
margin: 0;
font-family: sans-serif;

}
body{


    background: #333;
  
}
.container{

    background: #222;
    width: 80vw;

    margin: auto;
    padding: 20px;
border-radius: 10px;
display: grid;
grid-template-columns:5fr 3fr}

.img{
display: flex;
flex-direction: column;
gap: 50px;
justify-content: center;
align-items: center;
}
.img img{

    max-width: 45vw;
    max-height: 60vh;
}
.ubload input{
 display: none;
}
.ubload label{
color: #FFF;
padding: 8px 20px;
border: 2px #FFF dashed;
cursor: pointer;
}
.filters ul{

    display:  flex;
    flex-direction: column;
    gap: 30px;
    direction: rtl;
}
.filters ul li{
    display:  flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;

}
.filters ul li label{

color: #FFF;

}
.filters ul li:last-child {
flex-direction: row; /*  لتكون علئ سطر واحد 
*/
    /* background-color: red; */
    justify-content: space-around;

}
filters ul li a,span,a{
color:aquamarine;
padding: 10px 20px;
background-color: forestgreen;
}

/* 
filters ul li ,a{
color:aquamarine;

} */
@media screen and (max-width:650px) {
.container{

    grid-template-columns: 1fr;
    gap: 50px;
}    


}